body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#grid-container{
    border: 1px solid black;
    width: 960px;
    height: 960px;
}

.row{
    display: flex;
    max-width: 960px;
    max-height: 960px;
}

.square{
    filter: brightness(1);
    flex: 1 0 auto;
    background-color: rgba(0, 0, 0, 0);
    /* border: 1px solid rgb(230, 228, 228); */
}